{
  "ecmaFeatures": {
    "jsx": true
  },
  "extends": ["airbnb", "prettier", "react-app", "plugin:prettier/recommended"],
  "parser": "babel-eslint",
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": ["error"]
  }
}
