---
import Layout from "@layouts/Layout.astro"
---
<Layout>
  <h1 class="pt-12 text-8xl font-light">NOT FOUND</h1>
  <p class="mt-4 text-xl">You just hit a route that doesn&#39;t exist... the sadness.</p>
</Layout>
