---
import Layout from "@layouts/Layout.astro"
import Feature from "@components/Feature.astro"
import SocialNav from "@components/SocialNav.astro"
---
<Layout title="Home">
  <Feature />
  <h1 class="display-2 d-none d-sm-block">Cayce House</h1>
  <h1 class="d-block d-sm-none">Cayce House</h1>
  <h2 class="d-none d-sm-block">Technical Support Technician</h2>
  <h2 class="h6 d-block d-sm-none">
    Technical Support Technician, CCENT, CCNA, Jamf Certified Associate
  </h2>
  <SocialNav />
</Layout>
