---
import Layout from "@layouts/Layout.astro"
import Feature from "@components/Feature.astro"
import SocialNav from "@components/SocialNav.astro"
---
<Layout title="Home">
  <Feature />
  <h1 class="text-2xl md:text-7xl md:font-light">Cayce House</h1>
  <h2 class="mt-2 text-4xl hidden md:block">Systems Administrator</h2>
  <h2 class="mt-2 md:hidden sm:block">
    Systems Administrator, CCENT, CCNA, Jamf Certified Associate
  </h2>
  <SocialNav />
</Layout>
