---
import { Image } from 'astro:assets';
import feature from '@assets/feature.jpg';
---

<div class="pt-12">
  <Image
    src={feature}
    id="feature-image"
    class="shadow-2xl rounded-full mx-auto"
    layout="fixed"
    width={150}
    height={150}
    quality={90}
    alt="Cayce House"
    loading="eager" />
</div>