---
import { FaEnvelope, FaGithub } from "react-icons/fa"
---

<nav class="flex justify-center mt-12 space-x-8 text-7xl text-indigo-600">
  <div>
    <a href="https://github.com/caycehouse" target="_blank">
      <FaGithub />
    </a>
  </div>
  <div>
    <a href="mailto:cayce@caycehouse.com" target="_blank">
      <FaEnvelope />
    </a>
  </div>
</nav>
