---
import { Icon } from 'astro-icon/components';
---

<nav class="flex justify-center mt-12 space-x-8 text-7xl text-indigo-600">
  <div>
    <a href="https://github.com/caycehouse" target="_blank">
      <Icon name="mdi:github" />
    </a>
  </div>
  <div>
    <a href="mailto:cayce@caycehouse.com" target="_blank">
      <Icon name="mdi:envelope" />
    </a>
  </div>
</nav>
