---
import Head from "@components/Head.astro";
import EasterEgg from "@components/EasterEgg.astro";
import "@styles/style.scss";
import { Container, Navbar } from "react-bootstrap";

const { title, description } = Astro.props;
---

<html lang="en">
  <head>
    <Head {title} {description} />
  </head>
  <body>
    <div id="content">
      <EasterEgg />
      <Container className="text-center">
        <slot />
      </Container>
      <Navbar fixed="bottom" expand="lg" bg="dark" id="footer">
        <Navbar.Brand className="my-0 mx-auto text-white">
          Copyright © {new Date().getFullYear()} Cayce House
        </Navbar.Brand>
      </Navbar>
    </div>
  </body>
</html>
