---
import Head from "@components/Head.astro";
import EasterEgg from "@components/EasterEgg.astro";
import "@styles/global.css";

const { title, description } = Astro.props;
---

<html lang="en">
  <head>
    <Head {title} {description} />
  </head>
  <body>
    <div class="bg-black/50 min-h-screen" id="content">
      <EasterEgg />
      <div class="text-center container mx-auto px-4">
        <slot />
      </div>
      <nav class="fixed bottom-0 left-0 z-20 w-full p-4 flex justify-center bg-black/50" id="footer">
        <span class="text-xl">
          Copyright © {new Date().getFullYear()} Cayce House
        </span>
      </nav>
    </div>
  </body>
</html>
